<!-- Footer -->
	<div class="wrapper dark">
		<div id="footer">
			<!-- Mobile Logo -->
			<a href="http://www.theeconomicon.com" title="The Economicon"><div class="logo mobile-only" style="margin: 6px auto;"></div></a>
  			<!-- Index -->
			<div class="index">
				<!-- Logo and Blurb -->
				<div class="narrow blurb fullscreen-only">
					<a href="http://www.theeconomicon.com" title="The Economicon" style="display:block;"><div class="logo"></div></a>
					<p>
						The Economicon's mission is to provide valuable, reliable and high-quality information about 
						the cannabis industry, with the goal of contributing towards the industry's 
						growth, prosperity and legitimacy.
					</p>
					<div class ="social">
						<a href="https://github.com/keeganskeate/theeconomicon.github.io"><i class="fa fa-github-alt" aria-hidden="true" title="Find Us on Github"></i></a>
						<!--<a href="#"><i class="fa fa-facebook" aria-hidden="true" title="Find Us on Facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus" aria-hidden="true" title="Subscribe on Google Plus"></i></a>
						<a href="#"><i class="fa fa-pinterest" aria-hidden="true" title="Find Us on Pinterest"></i></a>-->
					</div>
				</div>
				<!-- Products -->
				<div>
					<h3>Products</h3>
					<ul>
						<li><a href="/journal-of-the-cannabis-industry#free-issue" title="Get the Free eJournal">Free eJournal</a></li>
						<li><a href="/business-intelligence" title="Get Business Intelligence">Business Intelligence</a></li>
						<li><a href="/cannalytics500"title="Access the Cannalytics 500 Indexes">Cannalytics 500 Indexes</a></li>
						<li><a href="/cannalytics" title="The Cannalytics Enterprise Platform">Cannalytics Enterprise Platform</a></li>
						<li><a href="/journal-of-the-cannabis-industry" title="The Journal of the Cannabis Industry">Journal of the Cannabis Industry</a></li>
					</ul>
				</div>
				<!-- Resources -->
				<div>
					<h3>Resources</h3>
					<ul>
						<li><a href="/whitepapers" title="Read Our Whitepapers">Whitepapers</a></li>
						<li><a href="/cannalytics/documentation" title="Read the Documentation">Documentation</a></li>
						<li><a href="/repository" title="Access the Code Repository">Code Repository</a></li>
						<li><a href="/cannalytics/trading-algorithms" title="Financial Trading Algorithms">Trading Algorithms</a></li>
						<li><a href="/cannalytics/investing" title="Find Investment Options">Investment Options</a></li>
					</ul>
				</div>
				<!-- Company -->
				<div class="narrow">
					<h3>Comapny</h3>
					<ul>
						<li><a href="/about#job-opportunities" title="Job Opportunities">Jobs</a></li>
						<li><a href="/about" title="About Us">About</a></li>
						<li><a href="/about#investing" title="Invest Now">Invest</a></li>
						<li><a href="/donate" title="Donate Now">Donate</a></li>
						<li><a href="/about#contact" title="Contact Us">Contact</a></li>
					</ul>
				</div>
			</div>
			<!-- Mobile Blurb -->
			<div class="blurb mobile-only bordered">
				<p>
					The Economicon's mission is to provide valuable, reliable and high-quality information about 
					the cannabis industry, with the goal of contributing towards the industry's growth, prosperity and legitimacy.
				</p>
				<div class ="social">
					<a href="https://github.com/keeganskeate/theeconomicon.github.io"><i class="fa fa-github-alt" aria-hidden="true" title="Find Us on Github"></i></a>
					<!--<a href="#"><i class="fa fa-facebook" aria-hidden="true" title="Find Us on Facebook"></i></a>
					<a href="#"><i class="fa fa-google-plus" aria-hidden="true" title="Subscribe on Google Plus"></i></a>
					<a href="#"><i class="fa fa-pinterest" aria-hidden="true" title="Find Us on Pinterest"></i></a>-->
				</div>
			</div>
			<!-- Disclaimer -->
			<div class="disclaimer bordered">
				<p>
					Disclaimer: The Economicon is restricted to adults, 21+, or for use compliant with state and local
					legislation. Users are responsible for complying with state and local cannabis age restrictions. 
					The Economicon provides content that some users may find objectionable. 
					Information obtained via The Economicon is for informational and educational purposes only. 
					Please consult a licensed professional before making any financial, medical or legal decisions.
				</p>
			</div>
			<!-- Copyright -->
			<div class="copyright">
				<ul class="left">
					<li><a href="legal/copyright.pdf" title="Copyright"><i class="fa fa-copyright"></i> 2017 The Economicon</a></li>
					<span class="separator">-</span>
					<li><a href="legal/privacy-policy.pdf" title="Privacy Policy">Privacy</a></li>
					<span class="separator">-</span>
					<li><a href="legal/terms-of-service.pdf" title="Terms of Service">Terms</a></li>
					<span class="separator">-</span>
					<li><a href="#" title="Security">Security</a></li>
				</ul>
				<a href="http://www.theeconomicon.com" title="Home"><div class="home-icon"></div></a>
				<ul class="right">
					<li><a href="/news" title="Cannabis News">News</a></li>
					<span class="separator">-</span>
					<li><a href="/blog" title="Cannabis Blog">Blog</a></li>
					<span class="separator">-</span>
					<li><a href="/journal-of-the-cannabis-industry#subscriptions" title="Journal Subscriptions">Subscriptions</a></li>
					<span class="separator">-</span>
					<li><a href="/journal-of-the-cannabis-industry#advertising" title="Advertise With Us">Advertise</a></li>
				</ul>
			</div>
		</div>
	</div>
