<!-- Header -->
<div id="header" class="StickyHeader">
	<section class="column">
		<h1><a id="mobile-logo" title="The Economicon" href="http://www.theeconomicon.com">The Economicon<i class="fa fa-copyright" style="font-size:12px; vertical-align: top;"></i></a></h1>
		<nav id="nav">
			<ul>
				<li class="company-logo">
					<a style="width:350px; height:50px;" title="The Economicon" aria-label="The Economicon" href="http://www.theeconomicon.com">
						<svg viewBox="0 0 328.125 46.875002">
							<image xlink:href="../images/The-Economicon-logo-new.svg" 
							       src="../images/The-Economicon-logo-new.png" width="100%"/>
						</svg>
					</a>
				</li>
				<li><a class="top-row" href="#" aria-label="Search"><i class="fa fa-search" aria-hidden="true" title="Search"></i></a></li>
				<li><a class="top-row" href="/contact">Contact</a></li>
				<li><a class="top-row" href="/cannalytics/documentation">Documentation</a></li>
				<li><a class="top-row" href="/blog">Blog</a></li>
				<li><a class="top-row" href="/news">News</a></li>
				<li class="split"><a href="/donate" title="Donate Now">Donate</a></li>
				<li><a class="underline" href="/about">About</a></li>
				<li><a class="underline" href="/whitepapers">Whitepapers</a></li>
				<li><a class="underline" href="/products">Products <i class="fa fa-caret-down" aria-hidden="true"></i></a>
					<ul>
						<li><a href="/journal-of-the-cannabis-industry"><i class="fa fa-book fa-fw" aria-hidden="true"></i> The Journal of the Cannabis Industry</a></li>
						<li><a href="/cannalytics"><i class="fa fa-window-restore fa-fw" aria-hidden="true"></i> Cannalytics Enterprise Platform</a></li>
						<li><a href="/cannalytics500"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Cannalytics 500 Index Funds</a></li>
						<li class="bottom-item"><a href="/business-intelligence"><i class="fa fa-comments fa-fw" aria-hidden="true"></i> Business Intelligence</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</section>
</div>
<script>
	// Sticky header with slide down effect
	$(function() {
		$("#header").before($(".StickyHeader").clone().addClass("fixed"));
		$(window).scroll(function(){
			if ($(window).scrollTop() >= 200) {
				$('.StickyHeader.fixed').addClass('slideDown');
			} else{
				$('.StickyHeader.fixed').removeClass('slideDown');
			}
		});
	});
	// Initiate Dropdowns.
	$(function() {
		$('#nav > ul').dropotron({
			offsetY: -15,
			hoverDelay: 0
		});
	});
</script>
