<!-- Banner -->
	<div class="wrapper banner-style">
		<div class="banner">
			<section class="column">
				<div class="content-bin">
					<div class="content-section">
						<div class="content-wrap">
						<div class="content-item">
							<h1><a name="Issue-1"></a>The Journal of the<br>Cannabis Industry</h1>
							<p>The Economicon is the proud publisher of the premier scientific journal for cannabis businesses; <a class="bold-link" href="mailto:subscriptions@theeconomicon.com?Subject=The%20Journal%20of%20the%20Cannabis%20Industry%20Current%20Issue,&body=I%20would%20like%20a%20copy%20of%20the%20current%20issue%20of%20The%20Journal%20of%20the%20Cannabis%20Industry." target="_top">The Journal of the Cannabis Industry</a>. The journal provides outstanding research, analysis, and discussions tailored to provide valuable knowledge for producers and consumers in all cannabis markets.</p>
							<p class="top-padded">The current issue explores the rapid growth of revenue from cannabis sales and the large increase in cannabis businesses in Colorado. The issue includes forecasts and expectations for Colorado cannabis markets in 2017. Please send requests for the current issue to <a class="bold-link" href="mailto:subscriptions@theeconomicon.com?Subject=Dear%20The%20Economicon,&body=I%20would%20like%20to%20subscribe%20to%20The%20Journal%20of%20the%20Cannabis%20Industry." target="_top">subscriptions@theeconomicon.com</a>.</p>
							<a class="button tip" href="mailto:subscriptions@theeconomicon.com?Subject=The%20Journal%20of%20the%20Cannabis%20Industry%20Subscription,&body=I%20would%20like%20a%20subscription%20to%20The%20Journal%20of%20the%20Cannabis%20Industry." target="_top">Subscribe Now</a>
						</div>
						</div>
					</div>
					<div class="content-section">
						<div class="content-wrap">
						<div class="content-item">
							<a href="#"><img src="/images/issue_cover.png" width="330px" height="350px" alt="The Journal of the Cannabis Industry"></a>
						</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
