.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(../images/inflation_figure/f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.237000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(../images/inflation_figure/f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.256000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-5.690919px;}
._2{margin-left:-1.434319px;}
._3{width:1.003460px;}
._1{width:80.803719px;}
._0{width:297.483269px;}
.fc1{color:rgb(17,17,17);}
.fc0{color:rgb(153,153,153);}
.fs0{font-size:47.820672px;}
.y1{bottom:2.618375px;}
.y0{bottom:17.500000px;}
.y2{bottom:24.210554px;}
.y3{bottom:60.450554px;}
.y4{bottom:96.690554px;}
.y5{bottom:132.930554px;}
.y9{bottom:169.170554px;}
.y6{bottom:205.410554px;}
.yb{bottom:207.953837px;}
.ya{bottom:220.987271px;}
.y7{bottom:241.650554px;}
.y8{bottom:277.890554px;}
.h3{height:45.381818px;}
.h2{height:45.573101px;}
.h1{height:260.000000px;}
.h0{height:293.508359px;}
.w1{width:670.500000px;}
.w0{width:676.744000px;}
.x0{left:3.000000px;}
.x4{left:8.795371px;}
.x2{left:10.295742px;}
.x3{left:15.295694px;}
.x1{left:73.843397px;}
.x5{left:534.901266px;}
.x6{left:543.736223px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-7.587892pt;}
._2{margin-left:-1.912425pt;}
._3{width:1.337946pt;}
._1{width:107.738292pt;}
._0{width:396.644359pt;}
.fs0{font-size:63.760897pt;}
.y1{bottom:3.491166pt;}
.y0{bottom:23.333333pt;}
.y2{bottom:32.280739pt;}
.y3{bottom:80.600739pt;}
.y4{bottom:128.920739pt;}
.y5{bottom:177.240739pt;}
.y9{bottom:225.560739pt;}
.y6{bottom:273.880739pt;}
.yb{bottom:277.271783pt;}
.ya{bottom:294.649694pt;}
.y7{bottom:322.200739pt;}
.y8{bottom:370.520739pt;}
.h3{height:60.509091pt;}
.h2{height:60.764134pt;}
.h1{height:346.666667pt;}
.h0{height:391.344478pt;}
.w1{width:894.000000pt;}
.w0{width:902.325333pt;}
.x0{left:4.000000pt;}
.x4{left:11.727162pt;}
.x2{left:13.727656pt;}
.x3{left:20.394258pt;}
.x1{left:98.457863pt;}
.x5{left:713.201688pt;}
.x6{left:724.981630pt;}
}
