/*
Main Style Sheet for The Economicon website
Theme Colors
	Lightest Grey: #eee
	Light Grey: #ccc
	Medium Grey: #E0E1E1
	Dark Grey: #999
	Black: #131516
	Light White: #F2F3F4
	White: #F7F5E6
	Off White: #E8E8E8
	Darkest White: #D6D6D6
	Dark Purple: #2D004F
	Light Green: #B2E522
	Medium Green: #43b02a
	Dark Green: #219C24
	Medium Teal: #2dbe60
	Dark Teal: #0d9f40
	Choice Teal: #14a76c
*/
/* Fonts */
@import url("font-awesome-4.6.3/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700,800");

/* Lazy Loading */
html.loading,body.loading * {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

/* Basic Format */
html, body {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	color: #131516;
	line-height: 1.65em;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: 400;
}
a {
	text-decoration: none;
}
strong, b {
	font-weight: 700;
}
em, i {
	font-style: italic;
}

/* Content Containers */
.container {
	min-width: 840px;
  	width: 70%;
	max-width: 1344px;
}

/* Wrappers */
.wrapper {
	padding: 0em;
}
.wrapper.top-style {
	padding: 0em;
}
.wrapper.banner-style {
	padding: 0em;
}
.wrapper.end-style {
	padding-bottom: 2em;
}

/* Logo */
#logo-sprite {
	width: 350px; height: 50px;
        background: url('/images/The-Economicon-logo-new.png') no-repeat left center;
}
	/*#logo-sprite:hover {
		background-position: -350px 0px;
	}*/

/* Hero */
.hero-image {
	background-image: url("/images/hero.png");
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

/* Sticky Header */
header {
	height: 60px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 300;
	font-size: 0.975em;
	letter-spacing: 0;
}
	header .container {
		width: 100%;
		position: relative;
	}
	.fixed {
    		position: fixed;
    		top: -60px;
    		left: 0;
    		right: 0;
    		z-index: 999;
	}
	.fixed.slideDown {
    		top: 0;
		background: #fff;
		border-bottom: 1px solid #ccc;
		-moz-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-webkit-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-o-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-ms-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
	}

/*Navigation Bar*/
#nav {
	position: static;
	z-index: 666;
	height: 60px;
	width: inherit;
	min-width: 840px;
	max-width: 1344px;
	/*top: 0;*/
	right: none;
	display: inline-block;
	text-align: center;
	padding: 0em;
    	margin: 0 auto;
    	vertical-align: baseline;
	background: transparent;
	border-bottom: 1px solid transparent;
	/*-moz-box-shadow: 0px 0px 6px 0px rgba(70,70,70,0.3);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(70,70,70,0.3);*/
}
	#nav > ul {
		height: inherit;
		margin: 0;
		padding: 0;
		list-style-type: none;
		vertical-align: bottom;
	}
		#nav > ul > li > ul {
			display: none;
		}
		#nav > ul > li  {
			position: relative;
			display: inline-block;
			float: right;
			margin-right: 0.98em;
			/*height: inherit;*/
			height: 30px;
			text-decoration: none;
		}
			#nav > ul > li a {
				display: table-cell;
				height: inherit;
				vertical-align: bottom;
				padding-bottom: 0px;
				border-bottom: 2px solid transparent;
				color: #414042;
			}
				#nav > ul > li.active > a,
				#nav > ul > li:hover > a{
					border-bottom: 2px solid #14a76c;
				}
					#nav > ul > li.active > a > span,
					#nav > ul > li:hover > a > span{
						color: #14a76c;
					}
			#nav > ul > li a.top-row {
				font-size: 80%;
			}
				#nav > ul > li.active > a.top-row,
				#nav > ul > li:hover > a.top-row {
					color: #14a76c;
					border-bottom: 2px solid transparent;
				}
			#nav ul li.logo {
				float: left;
				padding-left: 5px;
				height: 60px;
				vertical-align: bottom;
       				/*background: url('/images/The-Economicon-logo-new.png') no-repeat left center;*/
			}
			#nav > ul > li.logo {
				margin-left: 0;
				position: relative;
				line-height: 2em;
			}				
				#nav > ul > li.logo.active > a,
				#nav > ul > li.logo:hover > a {
					border-bottom: 2px solid transparent;
				}
			#nav ul > li.split {
				clear: right;
				float: right;
				padding-right: 5px;
			}
			#nav ul > li.end-row{
				padding-right: 5px;
			}

/* Dropotron */
	.dropotron {
		top: 2em;
		min-width: 12em;
		margin-top: 2px;
		background: #fff;
		-moz-box-shadow: 0px 1px 2px 2px rgba(70,70,70,0.3);
		-webkit-box-shadow: 0px 1px 2px 2px rgba(70,70,70,0.3);
		box-shadow: 0px 1px 2px 2px rgba(70,70,70,0.3);
	}
		.dropotron > li {
			line-height: 2.25em;
			padding: 0 0.5em;
		}
			.dropotron > li > a {
				color: #414042;
			}
			.dropotron > li.active,
			.dropotron > li:hover{
				background: #f5f6f7;
			}
			.dropotron > li.active > a > span,
			.dropotron > li:hover > a > span{
				color: #14a76c;
			}
	.dropotron.level-0 {
		margin-left: 0em;
		font-weight: 300;
		font-size: 0.925em;
		letter-spacing: 0;
	}
		.dropotron.level-1 {
			margin-left: 0em;
			margin-top: 1em;
			font-weight: 300;
			font-size: 0.925em;
			letter-spacing: 0;
		}

/* Banner */
	#banner {
		display: block;
		padding-top: 2em;
		text-align: center;
		text-transform: none;
		color: inherit;
	}
		#banner .container {
			margin: 0 auto;
			padding: 0em 0em;
		}
		#banner .content-bin{
				display: inline-block;
				margin: auto;
				width: 80%;
				overflow: auto;
			}
				.content-bin div {
					position: relative;
					float: left;
					vertical-align: top;
				}
				#content-section {
					display: inline-block;
					overflow: hidden;
					padding: 1em 0;
					margin: auto;
					width: 50%;
				}
					#content-wrap {
						float: left;
						position: relative;
						left: 50%;
					}
					#content-item {
						float: left;
						position: relative;
						left: -50%;
					}
		#banner .content-bin ul {
			list-style: none;
			text-align: left;
		}
			#banner .content-bin ul > li {
				padding-bottom: 5px;	
			}
			#banner .content-bin ul > li > a {
				color: #131516;
				font-weight: bold;
			}
		#banner .content-bin h1 {
			height: 85px;
			width: inherit;
			font-family: 'Oswald', sans-serif;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.6em;
			line-height: 140%;
			padding-bottom: 15px;
		}
			/*Subpage Only*/
			.subpage #banner .content-bin h1 {
				height: 50px;
			}
		#banner .content-bin p {
			display: block;
			font-family: 'EB Garamond', serif;
			text-align: left;
			color: inherit;
			line-height: 125%;
			font-size: 16px;
			font-weight: 400;
		}
			#banner .content-bin a:active,
			#banner .content-bin a:hover{
				color: #14a76c;
			}
		.bold-link {
			color: #131516;
			font-weight: bold;
		}
			.bold-link:active,
			.bold-link:hover {
				color: #2dbe60;
			}
		.top-padded {
			padding-top: 20px;
		}
		.indent{
			padding: 0 0 5px 20px;
		}
		.image-shadow{
			-moz-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
			-webkit-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
		}
		#banner hr {
			height: 1px;
			background-color: #ccc;
			color: #ccc;
			border: 0 none;
			margin: 5px auto;
		}

@media only screen and (max-width: 980px){ #banner .content-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #banner .content-bin div{ float:none;}}
@media only screen and (max-width: 980px){ #content-section{ margin:0 1em; width:auto; }}
@media only screen and (max-width: 980px){ #banner .content-bin .left-padded{ padding-left: 0;}}

/* Footer */
#footer > :last-child {
	margin-bottom: 0;
}
	#footer {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		color: inherit;
	}
		#footer .container {
			position: relative;
			margin: 0 auto;
		}
		#footer hr {
			height: 4px;
			background-color: #131516;
			color: #131516;
			border: 0 none;
			margin: 5px auto;
		}
		#footer h3{
			color:  #333;
			font-size: 0.8125rem;
			line-height: 0.6875rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			padding: 0;
			margin-bottom: 14px;
		}
		#footer li > a{
			text-align: left;
			line-height: 1rem;
			font-size: 0.875rem;
			font-weight: 500;
			color: #131516;
		}
		#footer ul{
			list-style: none;
			padding: 0em;
		}
	#footer .index-bin{
		display: inline-block;
		margin: auto;
		width: 90%;
		overflow: auto;
	}
		.index-bin div {
			position:relative;
			float: left;
			text-align: left;
			vertical-align: top;
		}
		#footer .index-bin li{
			line-height: 1.6em;
		}
		#footer .index-bin a:hover{
			color: #14a76c;
		}
		#index-section {
			display: inline-block;
			overflow: hidden;
			padding: 1em 0;
			margin: auto;
			width: 25%;
		}
			#index-wrap {
				float: left;
				position: relative;
				left: 50%;
			}
			#index-item {
				float: left;
				position: relative;
				left: -50%;
			}

@media only screen and (max-width: 980px){ #footer .index-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #footer .index-bin div{ float:none;}}
@media only screen and (max-width: 980px){ #index-section{ margin:0 1em;width:auto; }}

/* Copyright */
	#copyright {
		text-align: center;
		position: relative;
		padding: 0;
	}
		#copyright hr {
			height: 1px;
			background-color: #ccc;
			color: #ccc;
			border: 0 none;
			margin: 5px auto;
		}
		#copyright a {
			font-size: 11px;
			color: #999;
			font-weight: 400;
			text-decoration: none;
		}
			#copyright a:hover {
				text-decoration: underline;
			}
		#copyright p{
			text-transform: none;
		}
	#copyright.rightside{
		text-align:right;
	}

/* Tip Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.tip {
		/*-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;*/
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		margin-top: 20px;
		padding: 0.72em 2.75em;
		font-size: 0.975em;
		color: #131516;
		background: #fff;
		border: 1px solid #131516;
		border-radius: 4px;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button.tip:hover {
			border-color: #14a76c;
			color: #14a76c;
		}

/* Back to top Button */
.back-to-top {
	position: fixed;
	z-index: 999;
	display: none;
	right: 1.3em;
	bottom: 2.6em;
	width: 2.6em;
	height: 2.6em;
	margin: 0;
	text-decoration: none;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #ececec;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
}
	.back-to-top i {
		padding-top: .325em;
		color: #999;
		font-size: 1.3em;
	}
	.back-to-top.active,
	.back-to-top:hover {
		bottom: 3.0em;
	}

/* Mobile Logo */
	#mobile-logo {
		display: none;
	}
		#mobile-logo {
			line-height: 2em;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 2em;
			font-weight: 500;
		}
			#mobile-logo h1 {
				display: inline-block;
				margin: 0;
				padding: 0;
			}
			#mobile-logo a {
				color: inherit;
			}

/* Sub Pages */
.subpage #nav .active-page {
	border-bottom: 2px solid #14a76c;
}
