@import url("font-awesome-4.6.3/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
/*
	Main Style Sheet for The Economicon website

	Theme Colors
			Light Grey: #ccc
			Grey: #999
			Black: #131516
			Light White: #F2F3F4
			White:#F7F5E6
			Off White: #E8E8E8
			Darkest White: #D6D6D6
			Light Purple: 
			Dark Purple: #2D004F
			Light Green: #B2E522

*/
/*Lazy Loading*/
html.loading,body.loading * {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
/* Basic Format*/
html,body {
	background: #fff;
	color: #131516;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.65em;
	margin: 0px;
	padding: 0px;
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
}
	a {
		text-decoration: none;
	}
	strong, b {
		font-weight: 700;
	}
	em, i {
		font-style: italic;
	}
/* Content Containers */
.container {
	min-width: 840px;
  	width: 70%;
	max-width: 1344px;
}
/* Wrappers */
	.wrapper {
		padding: 0em;
	}
		.wrapper.top-style {
			padding: 0em;
		}
		.wrapper.banner-style {
			padding: 0em;
		}
		.wrapper.end-style {
			padding-bottom: 2em;
		}
/* Header */
	#header {
		height: 54px;
		-moz-box-shadow: 0px 1px 6px 1px rgba(70,70,70,0.3);
		-webkit-box-shadow: 0px 1px 6px 1px rgba(70,70,70,0.3);
	}
		#header .container {
			position: relative;
		}
	#nav {
		position: static;
		height: 54px;
		top: 0;
		right: none;
		display: block;
    		text-align: center;
		padding: 0em;
    		margin: 0 auto;
    		vertical-align: baseline;
	}
		#nav > ul {
			height: inherit;
			margin: 0;
			padding:0;
			list-style-type: none;
			vertical-align: bottom;
		}
			#nav > ul > li  {
				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				border-radius: 2px;
				display: inline-block;
				float: right;
				margin-left: 0.0em;
				padding: 0 0 0 2em;
				height: inherit;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1em;
				letter-spacing: 2px;
				font-weight: 400;
				text-shadow: 0 -1px 0 #000;
				position: relative;
				-moz-transition: all 200ms ease-in;
				-webkit-transition: all 200ms ease-in;
				-o-transition: all 200ms ease-in;
				-ms-transition: all 200ms ease-in;
				transition: all 200ms ease-in;	
			}
				#nav > ul > li a {
					-moz-appearance: none;
					-webkit-appearance: none;
					-o-appearance: none;
					-ms-appearance: none;
					display: table-cell;
					height: inherit;
					vertical-align: bottom;
					padding-bottom: 0px;
					letter-spacing: 2px;
					text-decoration: none;
					text-transform: uppercase;
					border-bottom: 2px solid #fff;
					color: #131516;
					font-weight: 500;
					font-size: 1em;
					-moz-transition: all 200ms ease-in;
					-webkit-transition: all 200ms ease-in;
					-o-transition: all 200ms ease-in;
					-ms-transition: all 200ms ease-in;
					transition: all 200ms ease-in;
				}
				#nav ul li:first-child {
					float: left;
					border: none;
					padding: 2px 0;
				}
				#nav > ul > li:first-child {
					margin-left: 0;
					position: relative;
					line-height: 2em;
				}				
					#nav > ul > li:first-child.active > a,
					#nav > ul > li:first-child:hover > a {
						border-bottom: 2px solid #fff;
					}
					#nav > ul > li.active > a,
					#nav > ul > li:hover > a{
						border-bottom: 2px solid #B2E522;
					}
					#nav > ul > li.active > a > span,
					#nav > ul > li.hover > a > span{
						color: #B2E522;
					}
				#nav > ul > li > ul {
					display: none;
				}
/* Dropotron */
	.dropotron {
		top: 2em;
		background: #fff;
		-moz-box-shadow: 0px 1px 2px 2px rgba(70,70,70,0.3);
		-webkit-box-shadow: 0px 1px 2px 2px rgba(70,70,70,0.3);
		color: #131516;
		font-weight: 500;
		min-width: 12em;
		margin-top: 2px;
	}
		.dropotron > li {
			line-height: 2.25em;
			padding: 0 0.5em;
		}
			.dropotron > li > a {
				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				text-shadow: 0 -1px 0 #000;
				color: inherit;
				font-weight: 500;
				letter-spacing: 2px;
				text-decoration: none;
				text-transform: uppercase;
				-moz-transition: all 200ms ease-in;
				-webkit-transition: all 200ms ease-in;
				-o-transition: all 200ms ease-in;
				-ms-transition: all 200ms ease-in;
				transition: all 200ms ease-in;
			}
			.dropotron > li.active,
			.dropotron > li:hover{
				background:#f5f6f7;
			}
			.dropotron > li.active > a > span,
			.dropotron > li:hover > a > span{
				color: #B2E522;
			}
	.dropotron.level-0 {
		font-size: 1em;
		margin-left:0em;
	}
		.dropotron.level-1 {
			font-size: 1em;
			margin-left:0em;
			margin-top:1em;
		}
/* Banner */
	#banner {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		display: block;
		padding-top: 2em;
		text-align: center;
		color: inherit;
		-moz-transition: all .35s ease-in;
		-webkit-transition: all .35s ease-in;
		-o-transition: all .35s ease-in;
		-ms-transition: all .35s ease-in;
		transition: all .35s ease-in;
	}
		#banner .container {
			margin: 0 auto;
			padding: 0em 0em;
		}
		#banner .content-bin{
				display: inline-block;
				margin: auto;
				width: 80%;
				overflow:auto;
			}
				.content-bin div {
					position: relative;
					float: left;
					vertical-align: top;
				}
				#content-section {
					display:inline-block;
					overflow:hidden;
					padding: 1em 0;
					margin: auto;
					width:50%;
				}
					#content-wrap {
						float: left;
						position: relative;
						left: 50%;
					}
					#content-item {
						float: left;
						position: relative;
						left: -50%;
					}
		#banner .content-bin h1{
			height: 85px;
			width: inherit;
			font-family: 'Oswald', sans-serif;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.6em;
			line-height: 140%;
			padding-bottom: 15px;
		}
			.subpage #banner .content-bin h1{
				height: 50px;
			}
		#banner .content-bin p{
			display: block;
			font-family: 'EB Garamond', serif;
			text-align: left;
			color: inherit;
			line-height: 125%;
			font-size: 16px;
			font-weight: 400;
		}
		#banner .content-bin img{
			-moz-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
			-webkit-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
		}
		.email-link {
				color: #131516;
				font-weight: bold;
			}
		#banner hr {
			height: 1px;
			background-color: #ccc;
			color: #ccc;
			border: 0 none;
			margin: 5px auto;
		}

@media only screen and (max-width: 980px){ #banner .journal-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #banner .journal-bin div{ float:none;}}
@media only screen and (max-width: 980px){ #journal-section{ margin:0 1em; width:auto; }}

/* Footer */
footer > :last-child {
		margin-bottom: 0;
	}
	#footer {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		color: inherit;
	}
		#footer .container {
			position: relative;
			margin: 0 auto;
		}
		#footer hr {
				height: 4px;
				background-color:#131516;
				color:#131516;
				border: 0 none;
				margin: 5px auto;
		}
		#footer h3{
			color:  #333;
			font-size: 0.8125rem;
			line-height: 0.6875rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			padding: 0;
			margin-bottom: 14px;
		}
		#footer li > a{
			text-align: left;
			line-height:1rem;
			font-size: 0.875rem;
			font-weight:500;
			color: #131516;
		}
		#footer ul{
			list-style: none;
			padding: 0em;
		}
	#footer .index-bin{
		display: inline-block;
		margin: auto;
		width: 90%;
		overflow:auto;
	}
		.index-bin div {
			position:relative;
			float:left;
			text-align:left;
			vertical-align:top;
		}
		#footer .index-bin li{
			line-height: 1.6em;
		}
		#footer .index-bin a:hover{
			text-decoration: underline;
		}
		#index-section {
			display:inline-block;
			overflow:hidden;
			padding: 1em 0;
			margin: auto;
			width:25%;
		}
			#index-wrap {
				float: left;
				position: relative;
				left: 50%;
			}
			#index-item {
				float: left;
				position: relative;
				left: -50%;
			}

@media only screen and (max-width: 980px){ #footer .index-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #footer .index-bin div{ float:none;}}
@media only screen and (max-width: 980px){ #index-section{ margin:0 1em;width:auto; }}

/* Copyright */
	#copyright {
		text-align:center;
		position: relative;
		padding: 0;
	}
		#copyright hr {
			height: 1px;
			background-color:#131516;
			color:#131516;
			opacity:0.5;
			border: 0 none;
			margin: 5px auto;
		}
		#copyright a {
			font-size:11px;
			color: #999;
			font-weight:400;
			text-decoration: none;
		}
			#copyright a:hover {
				text-decoration: underline;
			}
		#copyright p{
			text-transform: none;
		}
	#copyright.rightside{
		text-align:right;
	}
/* Buttons */
/* Subscribe Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.subscribe {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		width: 297.5px;
		display: inline-block;
		padding: 0.90em 1.2em;
		cursor: pointer;
		background: #2D004F;
		border: 3px solid #B2E522;
		color: #B2E522;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.0em;
		font-weight: 900;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background: rgba(45, 0, 79, 0.6);
		}
/* Alternative Button
	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	.button.alt {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 50px;
		background: #2D004F ;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 0.90em 1.2em;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.4em;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		}
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background: #B2E522;
				color: #2D004F;
			}
/* Logo */
	#logo {
		display: none;
	}
		#logo {
			line-height: 2em;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 2em;
			font-weight: 500;
		}
			#logo h1 {
				display: inline-block;
				margin: 0;
				padding: 0;
			}
			#logo a {
				color: inherit;
			}
/*Sub Pages*/
.subpage #nav .active-page {
	border-bottom: 2px solid #B2E522;
}
