/* Main Style Sheet for The Economicon website
----------------------------------------------
Blacks and Whites
	Off-Black: #131516
	Lightest Grey: #eee
	Light Grey: #ccc
	Medium Grey: #E0E1E1
	Dark Grey: #999
	Light White: #F2F3F4
	White: #F7F5E6
	Off White: #E8E8E8
	Darkest White: #D6D6D6
Theme Colors
	Dark Purple: #2D004F
	Lime Green: #B2E522
	Choice Teal: #14a76c
	Dark Teal: #006A3F
	Regular Background Blue: #176599
	Navy: #01516e
	Pastel yellow: #F3D250
	Pastel blue: #90CCF4
	Pastel pink: #F78888
	Soft Red: #EE464F
----------------------------------------------
/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Sanchez:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Cinzel:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lusitana:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:200,300,400,600,700,800");
/*@import url("https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,700,800");*/
/*@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700,800");*/

/* Icomoon Icons */
@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?9oakzz');
	src:  url('fonts/icomoon.eot?9oakzz#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?9oakzz') format('truetype'),
	url('fonts/icomoon.woff?9oakzz') format('woff'),
	url('fonts/icomoon.svg?9oakzz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-office:before {content: "\e903";}
.icon-newspaper:before {content: "\e904";}
.icon-book:before {content: "\e91f";}
.icon-books:before {content: "\e920";}
.icon-cogs:before {content: "\e995";}
.icon-stats-dots:before {content: "\e99b";}
.icon-stats-bars:before {content: "\e99c";}
.icon-tree:before {content: "\e9bc";}
.icon-cloud-download:before {content: "\e9c2";}

/* Lazy Loading */
html.loading, body.loading * {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

/* Basic Format */
html, body {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	color: #131516;
	line-height: 1.65em;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: 400;
}
a {
	text-decoration: none;
}
strong, b {
	font-weight: 600;
}

/* Content Containers */
.container {
	min-width: 840px;
  	width: 70%;
	max-width: 1344px;
}

/* Wrappers */
.wrapper {
	padding: 0;
}
.wrapper.carousel-style {
	padding: 0;
	height: 543px;
}
.wrapper.banner-style {
	padding: 0;
}
.wrapper.end-style {
	padding: 0;
}
/* Slick Carousel */
#carousel-container {
	display: none;
	transform: translateY(-80px);
}
.slick-dots{
	bottom: 10px;
	margin: 0;
}
.slick-prev {
	margin-left: 40px;
	z-index: 1;
}
.slick-next {
	margin-right: 40px;
}
	.slick-prev:before,
	.slick-next:before {
		font-size: 2em;
		background: #ccc;
		border-radius: 50%;
	}
		.slick-prev:before:active,
		.slick-prev:before:hover,
		.slick-next:before:active,
		.slick-next:before:hover {
			background: #000;
		}
.slick-slide {
	position: relative;
	height: 543px;
}
	.slick-slide .hero-image {
		position: absolute;
		display: inline-block;
		top: 0px;
		height: 543px;
		/*transform: translateX(-50%);*/
		/*background-attachment: fixed;*/
	}
	.slick-slide .hero-text {
		display: block;
		text-align: left;
		color: #414042;
	}
	.slick-slide .hero-text .container {
		position: relative;
		margin: 0 auto;
		padding: 0;
	}
		.slick-slide .hero-text .box {
			position: absolute;
			transform: translateX(45%) translateY(33%);
			margin: auto;
		}
			.slick-slide .hero-text .box p {
				padding: 0.75em 0 1.0em 0;
				font-size: 2em;
				line-height: 1.05em;
			}
			.slick-slide .hero-text .box .button-box {
				display: flex;
				align-items: baseline;
			}
				.slick-slide .hero-text .box .button-box .tour {
					margin-left: 15px;
					color: #414042;
				}
					.slick-slide .hero-text .box .button-box .tour:active,
					.slick-slide .hero-text .box .button-box .tour:hover {
						color: #A5A5A5;	
					}
		.slick-slide .hero-text .journal-box {
			position: absolute;
			color: #fff;
			right: 0;
			width: 330px;
			transform: translateY(40%);
		}
@media only screen and (max-width: 980px){ .wrapper.top-style { text-align:left;}}

/* Sticky Header */
#header {
	height: 80px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 300;
	font-size: 0.975em;
	letter-spacing: 0;
}
	#header .container {
		width: 100%;
		position: relative;
		z-index: 99;
	}
	.fixed {
    		position: fixed;
    		top: -80px;
    		left: 0;
    		right: 0;
    		z-index: 999;
	}
	.fixed.slideDown {
    		top: 0;
		background: #fff;
		border-bottom: 1px solid #ccc;
		-moz-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-webkit-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-o-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		-ms-transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
		transition: 0.33s top cubic-bezier(.3, .73, .3, .74);
	}

/*Navigation Bar*/
#nav {
	position: static;
	z-index: 666;
	height: 80px;
	width: inherit;
	min-width: 840px;
	max-width: 1344px;
	right: none;
	display: inline-block;
	text-align: center;
    	margin: 0 auto;
    	/*vertical-align: baseline;*/
	background: transparent;
	border-bottom: 1px solid transparent;
	/*-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);*/
}
	#nav > ul {
		padding: 10px 0;
		height: inherit;
		list-style-type: none;
		vertical-align: bottom;
	}
		#nav > ul > li > ul {
			display: none;
		}
		#nav > ul > li  {
			position: relative;
			display: inline-block;
			float: right;
			margin-right: 1.3em;
			height: 30px;
			text-decoration: none;
		}
			#nav > ul > li a {
				display: table-cell;
				height: inherit;
				vertical-align: bottom;
				/*padding-bottom: 0px;*/
				border-bottom: 2px solid transparent;
				color: #414042;
			}
				#nav > ul > li:active > a,
				#nav > ul > li:hover > a {
					border-bottom: 2px solid #14a76c;
				}
					#nav > ul > li:active > a > i,
					#nav > ul > li:hover > a > i {
						color: #14a76c;
					}
			#nav > ul > li a.top-row {
				font-size: 80%;
			}
				#nav > ul > li:active > a.top-row,
				#nav > ul > li:hover > a.top-row {
					color: #14a76c;
					border-bottom: 2px solid transparent;
				}
			#nav ul li.company-logo {
				float: left;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				height: 60px;
				line-height: 2em;
				margin-left: 1.3em;
			}			
				#nav > ul > li.company-logo:active > a,
				#nav > ul > li.company-logo:hover > a {
					border-bottom: 2px solid transparent;
				}
			#nav ul > li.split {
				clear: right;
				float: right;
			}
			#nav ul > li.split > a {
				color: #fff;
				font-weight: 500;
			}
				#nav ul > li.split:active >a,
				#nav ul > li.split:hover > a{
					border-bottom: 2px solid transparent;
				}

/* Dropotron */
	.dropotron {
		top: 2em;
		margin-top: 10px;
		min-width: 12em;
		background: #fff;
		-moz-box-shadow: 3px 4px 7px 3px rgba(204,204,204,0.3);
		-webkit-box-shadow: 3px 4px 7px 3px rgba(204,204,204,0.3);
		box-shadow: 3px 4px 7px 3px rgba(204,204,204,0.3);
		-moz-transition: 0.33s ease;
		-webkit-transition: 0.33s ease;
		-o-transition: 0.33s ease;
		-ms-transition: 0.33s ease;
		transition: 0.33s ease;
	}
		.dropotron > li {
			line-height: 2.25em;
			padding: 0 0.5em;
		}
			.dropotron > li > a {
				color: #414042;
			}
			.dropotron > li > a > i {
				margin-right: 3px;
			}
				.dropotron > li:active,
				.dropotron > li:hover{
					background: #f5f6f7;
				}
				.dropotron > li:active > a > i,
				.dropotron > li:hover > a > i{
					color: #14a76c;
				}
	.dropotron.level-0 {
		margin-left: 0em;
		font-weight: 300;
		font-size: 90%;
		letter-spacing: 0;
	}
		.dropotron.level-1 {
			margin-left: 0em;
			margin-top: 1em;
			font-weight: 300;
			font-size: 90%;
			letter-spacing: 0;
		}

/* Banner */
.banner {
	display: block;
	padding-top: 2em;
	text-align: center;
	color: inherit;
}
	.banner .container {
		margin: 0 auto;
		padding: 0em 0em;
	}
	.banner hr {
		height: 1px;
		background-color: #ccc;
		color: #ccc;
		border: 0 none;
		margin: 5px auto;
	}
	.banner .content-section {
		display: inline-block;
		overflow: hidden;
		padding: 1em 0;
		margin: auto;
		width: 50%;
	}
	.banner .content-wrap {
		float: left;
		position: relative;
		left: 50%;
	}
	.banner .content-item {
		float: left;
		position: relative;
		left: -50%;
	}
	.banner .content-bin {
		display: inline-block;
		margin: auto;
		width: 80%;
		overflow: auto;
	}
		.banner .content-bin div {
			position: relative;
			float: left;
			vertical-align: top;
		}
		.banner .content-bin ul {
			list-style: none;
			text-align: left;
		}
			.banner .content-bin ul > li {
				padding-bottom: 5px;	
			}
				.banner .content-bin ul > li > a {
					color: #131516;
					font-weight: bold;
				}
		.banner .content-bin h1 {
			height: 85px;
			width: inherit;
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.6em;
			line-height: 140%;
			padding-bottom: 15px;
		}
			.subpage .banner .content-bin h1 {
				height: 50px;
			}
		.banner .content-bin p {
			display: block;
			font-family: 'Source Serif Pro', serif;
			text-align: left;
			color: inherit;
			line-height: 125%;
			font-size: 16px;
			font-weight: 400;
		}
			.banner .content-bin a:active,
			.banner .content-bin a:hover{
				color: #14a76c;
			}

@media only screen and (max-width: 980px){ .banner .content-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ .banner .content-bin div{ float:none;}}
@media only screen and (max-width: 980px){ .content-section{ margin:0 1em; width:auto; }}
@media only screen and (max-width: 980px){ .banner .content-bin .left-padded{ padding-left: 0;}}

/* Footer */
/*#footer > :last-child {
	margin-bottom: 0;
}*/
#footer {
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
	background: #176599;
}
	#footer .container {
		position: relative;
		margin: 0 auto;
	}
	#footer ul{
		list-style: none;
		padding: 0em;
	}
	#footer h3{
		padding: 0;
		margin-bottom: 14px;
		text-align: left;
		font-size: 1.0rem;
		line-height: 0.6875rem;
		font-weight: 600;
		color:  #fff;
	}
	#footer .index-section {
		display: inline-block;
		overflow: hidden;
		padding: 1.3em 0;
		margin: auto;
		width: 25%;
	}
	#footer .index-wrap {
		float: left;
		position: relative;
		left: 50%;
	}
	#footer .index-item {
		float: left;
		position: relative;
		left: -50%;
	}
	#footer .index-bin {
		display: inline-block;
		margin: auto;
		width: 100%;
		overflow: auto;
	}
		#footer	.index-bin div {
			position:relative;
			float: left;
			text-align: left;
			vertical-align: top;
		}
		#footer .index-bin li{
			line-height: 1.6em;
		}
			#footer .index-bin li > a {
				text-align: left;
				line-height: 1rem;
				font-size: 0.75rem;
				font-weight: 400;
				color: #fff;
			}
				#footer .index-bin li > a:hover {
					color: #B2E522;
				}

@media only screen and (max-width: 980px){ #footer .index-bin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #footer .index-bin div{ float:none;}}
@media only screen and (max-width: 980px){ #footer .index-section{ margin:0 1em;width:auto; }}

/* Copyright */
	#copyright {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0.65em 0;
		border-top: 1px solid #ccc;
	}
		#copyright ul {
			display: inline-block;
		}
			#copyright ul.left {
				float: left;
			}
			#copyright ul.right {
				float: right;
			}
				#copyright ul.left > li {
					margin-right: 1.3em;
				}
				#copyright ul.right > li {
					margin-left: 1.3em;
				}
		#copyright ul > li {
			display: inline;
		}
		#copyright ul > li > a {
			color: #fff;
			font-size: 65%;
			font-weight: 300;
			text-decoration: none;
		}
			#copyright ul > li > a:hover {
				color: #B2E522;
			}

@media only screen and (max-width: 980px){ #copyright ul > li { display:block; width:auto;}}
/*@media only screen and (max-width: 980px){ #copyright ul.left, #copyright ul.right { float:none;}}*/
@media only screen and (max-width: 980px){ #copyright ul.left {text-align:left;} }
@media only screen and (max-width: 980px){ #copyright ul.right {text-align:right;} }
@media only screen and (max-width: 980px){ #copyright ul.left > li, #copyright ul.right > li { margin:0 1em;}}

		#copyright ul.left > li.split {
			clear: right;
			float: right;
		}
/* Beta Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.beta {
		cursor: pointer;
		text-decoration: none;
		display: flex;
		align-items: center;
		text-align: center;
		vertical-align: middle;
		height: 30px;
		font-size: 12pt;
		padding: 0.25em 1.5em;
		color: #fff;
		background: #14a76c;
		border-radius: 4px;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button.beta:hover {
			background: #006A3F;
		}
/* Download Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.download {
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		color: #fff;
		background: #14a76c;
		border-radius: 4px;
		padding: 0 1.25em;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button.download:hover {
			background: #006A3F;
		}
/* Tip Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.tip {
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		margin-top: 20px;
		padding: 0.72em 2.75em;
		font-size: 0.975em;
		color: #131516;
		background: #fff;
		border: 1px solid #131516;
		border-radius: 4px;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button.tip:hover {
			border-color: #14a76c;
			color: #14a76c;
		}

/* Back to top Button */
.back-to-top {
	position: fixed;
	z-index: 999;
	display: none;
	right: 1.3em;
	bottom: 2.6em;
	width: 2.6em;
	height: 2.6em;
	margin: 0;
	text-decoration: none;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ececec;
	background-color: #fff;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.12);
}
	.back-to-top:active,
	.back-to-top:hover {
		bottom: 3.0em;
		-moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.back-to-top img {
		position: relative;
		top: 33%;
		transform: translateY(-33%);
		-webkit-transform: translateY(-33%);
	}

/* Miscellaneous */
.bold-link {
	color: #131516;
	font-weight: bold;
}
	.bold-link:active,
	.bold-link:hover {
		color: #2dbe60;
	}
.top-padded {
	padding-top: 20px;
}
.indent{
	padding: 0 0 5px 20px;
}
.image-shadow{
	-moz-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
	-webkit-box-shadow: 3px 3px 6px 0px rgba(70,70,70,0.3);
}

/* Company Logo */
#logo-sprite {
	width: 350px; height: 50px;
        background: url('/images/The-Economicon-logo-new.png') no-repeat left center;
}
	/*#logo-sprite:hover {
		background-position: -350px 0px;
	}*/

/* Mobile Logo */
#mobile-logo {
	display: none;
	line-height: 2em;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 500;
}
	#mobile-logo h1 {
		display: inline-block;
		margin: 0;
		padding: 0;
		background: #2D004F;
	}
	#mobile-logo a {
		color: #fff;
	}

/* Sub Pages */
.subpage #nav .active-page {
	border-bottom: 2px solid #14a76c;
}

/* Attribute Row */
#row .container {
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
}
#row .attribute {
	position: relative;
	height: 500px;
	width: 33%;
	top: 0;
	transition: top ease 0.3s;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
}
#row .title {
	height: 25%;
	padding: 3em 1.5em 1.0em 1.5em;
	border-bottom: 2px solid #e7e7e7;
	border-radius: 4px;
	/*box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.2);
	-moz-transition: 0.33s ease;
	-webkit-transition: 0.33s ease;
	-o-transition: 0.33s ease;
	-ms-transition: 0.33s ease;
	transition: 0.33s ease;*/
}
	/*#row .attribute:active .title,
	#row .attribute:hover .title {
		box-shadow: none;
	}*/
	#row .title h1 {
		font-family: 'Sanchez', serif;
		font-size: 1.05em;
		color: #000;
	}
	#row .title h2 {
		font-family: 'Sanchez', serif;
		font-size: 1.3em;
		font-weight: 400;
		color: #000;
	}
#row .features {
	position: relative;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#row .feature {
	position: relative;
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}
	/*#row .feature:active span,
	#row .feature:hover span {
		text-shadow: 0px 0px 5px #B2E522;
	}*/
#row .feature-text {
	width: 60%;
}
	#row .feature-text h3 {
		color: #000;
		font-size: 1.15em;
	}
	#row .feature-text p {
		margin-top: .25em;
		font-size: 0.95em;
		line-height: 1.6;
		color: #5d5e5e;
	}
#row .feature-icon {
	margin-right: 1.6em;
	box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.2);
}
	#row .feature-icon span {
		font-size: 4em;
	}
	#row .attribute:active .feature-icon,
	#row .attribute:hover .feature-icon {
		box-shadow: none;
	}

@media only screen and (max-width: 980px){ #row .container{ display:block; height: auto;}}
@media only screen and (max-width: 980px){ #row .attribute{ width:auto; }}

/* Marquee */
.wrapper.marquee-style {
	padding: 0;
	height: 400px;
}
.marquee {
	position: absolute;
	display: inline-block;
	top: 0px;
	width: 100%;
	height: 400px;
}
.marquee-text {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #414042;
}
	.marquee-text h1 {
		padding-top: 1em;
		color: #414042;
		font-size: 3em;
		line-height: 150%;
		font-weight: 600;
	}
	.marquee-text h2 {
		font-size: 90%;
	}
	.marquee-text a {
		padding-top: 1em;
	}
	

/* Blog Archive */
#blog-archive {
	position: relative;
	margin: 1em auto 2em auto;
}
	#blog-archive .container {
		position: relative;
		margin: 0 auto;
	}
	#blog-archive .pagination {
		text-align: center;
		margin: 1.3em auto;
	}
		#blog-archive .pagination .active {
			font-weight: 600;
			margin: auto 15px;
		}
		#blog-archive .pagination .dots {
			margin: auto 15px;
		}
		#blog-archive .pagination a {
			color: #444343;
			margin: auto 15px;
		}
			#blog-archive .pagination a:active,
			#blog-archive .pagination a:hover {
				color: #14a76c;
				text-decoration: underline;
			}
	#blog-archive .articles {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		align-content: flex-start;
	}
		#blog-archive .articles .article {
			width: 47.5%;
			border: 1px solid #e6e6e6;
			border-radius: 6px;
			margin: 1.3em 1.25%;
		}
			#blog-archive .articles .article p {
				/*padding: 0.6em 1.6em;*/
				color: #444343;
			}
			#blog-archive .article-image {
				width: 100%;
				height: 250px;
				border-radius: 6px 6px 0 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
			#blog-archive .article-info {
				padding: 0.6em 1.6em
			}
			#blog-archive .category {
				color: #b2afaf;
				font-weight: 500;
				font-family: 'Cinzel', serif;
				padding-bottom: 0.6em;
			}
				#blog-archive .category:active,
				#blog-archive .category:hover {
					text-decoration: underline;
				}
			#blog-archive .summary {
				font-family: 'Lusitana', serif;
				font-size: 110%;
				line-height: 150%;
				padding: 0.6em 0;
			}
			#blog-archive .published{
				font-size: 90%;
			}
			#blog-archive .summary > span,
			#blog-archive .read-more {
				color: #EE464F;
			}
				#blog-archive .read-more:active,
				#blog-archive .read-more:hover {
					text-decoration: underline;
				}
			#blog-archive .author-image {
				float: right;
				border-radius: 50%;
			}
			/*#blog-archive .articles .article h3 {
				padding: 0 1.6em;
			}*/
			#blog-archive .article-title {
				font-size: 1.6em;
				font-weight: 600;
				color: #414042;
			}
				#blog-archive .article-title:active,
				#blog-archive .article-title:hover {
					text-decoration: underline;
				}
/* Blog Post */
#blog-post {
	position: relative;
	margin: 2em auto;
}
	/*#blog-post .container {
		position: relative;
		margin: 0 auto;
	}*/
	#blog-post .blog-text {
		width: 70%;
		margin: 0 auto;
	}
	#blog-post .blog-text h1 {
		color: #2D004F;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 150%;
	}
	#blog-post .blog-text h2 {
		color: #2D004F;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 150%;
	}
	#blog-post .blog-text p {
		font-family: 'Lusitana', serif;
		font-size: 1.2em;
		line-height: 175%;
		padding: 1.25em 0;
	}
		#blog-post .blog-text p:first-child:first-letter {
			color: #2D004F;
			float: left;
			font-size: 375%;
			line-height: 80%;
			padding-top: 4px;
			padding-right: 8px;
			padding-left: 3px;
		}
	#blog-post .blog-text a {
		color: #14a76c;
	}
		#blog-post .blog-text a:active,
		#blog-post .blog-text a:hover {
			text-decoration: underline;
		}

@media only screen and (max-width: 980px){#blog-post{margin-top:0;}}
@media only screen and (max-width: 980px){#blog-post .blog-text{width: 90%;}}
